body{
    background-image: url("../images/bg.jpg");
}
.photo_box{
    width: 20rem;
    padding: 0.05rem;
    position: absolute;
    top:50%;
    right: 50%;
    transform:translateY(-50%) translateX(50%);
}
.photo_box_inner{
    overflow: hidden;
    padding: 0.05rem;
}
.photo_box_inner li{
    width: 33.33333%;
    float: left;
    padding: 0.05rem;
    transition: all 2s;
    -webkit-box-sizing: border-box;
}
.photo_box_inner img{
    border-radius: 0.3rem;
    overflow: hidden;
}
.photo_box_inner li:hover{
    transform: rotateY(180deg);
}
.photo_box_inner .center:hover{
    transform: scale(1.8) rotateY(180deg);
}