@charset "utf-8";
html{
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
body {
    background-color: #f2f2f2;
}

header {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    position: fixed;
    z-index: 99999;
    background-color: #fff;
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    top:0;
}

.user {
    width: 47px;
    height: 40px;
    float: right;
    display: block;
    position: relative;
    text-align: center;
    line-height: 67px;
    letter-spacing: 2px; /*字间距*/
    color: #37aee1;
}

.user:before, .xc_search_in:before, .nav li:nth-child(5n+1):after,.tool_cn a:before {
    content: '';
    background: url("../images/icons/un_ico_home_v66.png") 0 0 no-repeat;
    background-size: 104px 328px; /*缩放背景图*/
    -webkit-background-size: 104px 328px;
}

.user:before {
    width: 23px;
    height: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-position: -59px -194px;
    top: 4px;
}

.xc_search {
    margin-right: 47px;
    height: 40px;
    padding: 7px 0 0 8px;
}

.xc_search_in {
    border: 1px solid #999999;
    border-radius: 5px;
    height: 24px;
    line-height: 22px;
    text-indent: 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    position: relative;
}

.xc_search_in:before {
    width: 13px;
    height: 14px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background-position: -60px -280px;
}

/* 本例子css -------------------------------------- */
.focus {
    width: 100%;
    margin: 40px auto 0;
    position: relative;
    overflow: hidden;
}

.focus .hd {
    width: 100%;
    height: 11px;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    text-align: center;
}

.focus .hd ul {
    display: inline-block;
    height: 5px;
    padding: 3px 5px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    vertical-align: top;
}

.focus .hd ul li {
    display: inline-block;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #8C8C8C;
    margin: 0 5px;
    vertical-align: top;
    overflow: hidden;
}

.focus .hd ul .on {
    background: #FE6C9C;
}

.focus .bd {
    position: relative;
    z-index: 0;
}

.focus .bd li img {
    width: 100%;
    background: url(../images/img/loading.gif) center center no-repeat;
}

.focus .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */
}

/*nav样式start*/
.nav {
    margin: 4px;
    padding-left: 104px;
    position: relative;
}

.nav li {
    height: 45px;
    width: 50%;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #ff697a;
    line-height: 45px;
    text-align: center;
}

.nav li:nth-child(5n), .nav li:nth-child(5n+4) {
    margin-bottom: 4px;
}

.nav li:nth-child(5n+1) {
    position: absolute;
    left: 0;
    top: 0;
    height: 90px;
    width: 104px;
    border-radius: 5px 0 0 5px;
}

.nav li:nth-child(5n+1):after {
    position: absolute;
    width: 40px;
    height: 33px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    -webkit-transform: translate(-50%, -10%);
    background-position: 0 -130px;
}

.nav li:nth-child(5n+3) {
    border-top-right-radius: 5px;
}

.nav li:nth-child(5n) {
    border-bottom-right-radius: 5px;
}

.nav li:nth-child(6) {
    top: 94px;
}

.nav li:nth-child(6):after {
    width: 42px;
    height: 24px;
    background-position: -51px -122px;
}

.nav li:nth-child(5) ~ li {
    background-color: #3d98ff;
}

.nav li:nth-child(11) {
    top: 188px;
}

.nav li:nth-child(11):after {
    width: 35px;
    height: 41px;
    background-position: 0 -181px;
}

.nav li:nth-child(10) ~ li {
    background-color: #44c522;
}

.nav li:nth-child(16) {
    top: 282px;
}

.nav li:nth-child(16):after {
    width: 36px;
    height: 31px;
    background-position: 0 -240px;
}

.nav li:nth-child(15) ~ li {
    background-color: #fc9720;
}

.nav li a {
    color: #ffffff;
    font-size: 15px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, .2);
    letter-spacing: 1px;
}

/*nav样式end*/

/*sub_nav 样式开始*/
.sub_nav {
    margin: 4px;
    border-radius: 5px;
}

.sub_nav li {
    width: 25%;
    height: 68px;
    float: left;
    text-align: center;
    margin-bottom: 1px;
}

.sub_nav li a {
    line-height: 100px;
    height: 68px;
    margin-right: 1px;
    display: block;
    background-color: #ffffff;
    color: #000000;
    position: relative;
}
.sub_nav li:nth-child(1) a {
    border-top-left-radius: 5px;
}
.sub_nav li:nth-child(4) a{
    border-top-right-radius: 5px;
}
.sub_nav li:nth-child(5) a{
    border-bottom-left-radius: 5px;
}
.sub_nav li:nth-child(8) a{
    border-bottom-right-radius: 5px;
}

.sub_nav li a:before {
    content: '';
    background: url("../images/icons/un_ico_subnav.png") 0 0 no-repeat;
    background-size: 26px 235px; /*缩放背景图*/
    -webkit-background-size: 26px 235px;
    position: absolute;
    width: 26px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    top: 10px;
}

.sub_nav li:nth-child(2) a:before {
    background-position: 0 -30px;
}

.sub_nav li:nth-child(3) a:before {
    background-position: 0 -60px;
}

.sub_nav li:nth-child(4) a:before {
    background-position: 0 -90px;
}

.sub_nav li:nth-child(5) a:before {
    background-position: 0 -120px;
}

.sub_nav li:nth-child(6) a:before {
    background-position: 0 -150px;
}

.sub_nav li:nth-child(7) a:before {
    background-position: 0 -180px;
}

.sub_nav li:nth-child(8) a:before {
    background-position: 0 -210px;
}
/*sub_nav 样式结束*/

/*特卖汇样式开始*/
.product {
    margin-top: 8px;
    overflow: hidden; /*解决margin合并*/
    border-top: 1px solid #f2f2f2;
    background-color: #ffffff;
}
.pro_tit{
    height: 20px;
    margin: 12px 0;
    padding: 0 10px;
    position: relative;
}
.pro_tit h2{
    background: url("../images/icons/un_home_text.png") 0 0 no-repeat;
    background-size: 79px 58px;
    -webkit-background-size: 79px 58px;
}
.pro_tmh_tit h2{
    width: 57px;
    height: 15px;
    text-indent: -99999px;
}
.product .tips{
    width: 102px;
    height: 21px;
    position: absolute;
    right: 10px;
    top:0;
    border-radius: 10px;
    text-indent: 12px;
    line-height: 21px;
    background: -webkit-linear-gradient(left,#ff506b,#ff6bc6);
    background: linear-gradient(left,#ff506b,#ff6bc6);
    color: #ffffff;
}
.product .tips:after{
    content: '';
    width: 5px;
    height: 5px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top:50%;
    right: 9px;
    transform: translateY(-65%) rotate(-45deg);
    -webkit-transform: translateY(-65%) rotate(-45deg);
}
.pro_tmh_info{
    padding: 0 10px 10px 10px;
}
.pro_tmh_info li{
    width: 50%;
    height: 175px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pro_tmh_info li:nth-child(1){
    padding-right: 2px;
}
.pro_tmh_info li:nth-child(2){
    padding-left: 2px;
}
.tmh_pic{
    position: relative;
    height: 100px;
}
.tmh_pri_row{
    background-color: #f2f2f2;
    padding-top:8px;
    padding-left:4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 75px;
}
.tmh_pic img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    height: 100%;
}
.tmh_pic:before{
    content: '爆款';
    width: 38px;
    height: 20px;
    background-color: #fd3a51;
    position: absolute;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
}
.tmh_pic:after{
    content: '';
    border-width: 20px 8px;
    border-style: solid;
    border-color: #fd3a51 transparent transparent transparent;
    position: absolute;
    left: 30px;
}
.pro_tmh_info .tmh_txt{
     -webkit-line-clamp: 2;
    color: #222222;
    font-size: 12px;
}
.tmh_pri{
    color: #fd3a51;
}
.tmh_pri i:nth-child(1){
    font-size: 10px;
}
.tmh_pri i:nth-child(2){
    font-size: 18px;
    font-weight: 400;
}
.tmh_pri i:nth-child(3){
    font-size: 16px;
}
.tmh_pri span{
    display: inline-block;
    padding: 0 7px;
    margin-left: 5px;
    line-height: 1.2;
    color: #ffffff;
    border-radius: 7px;
    background-color: #fd3a51;
}
.tmh_tj{
    height: 75px;
    position: relative;
    padding: 13px 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #f2f2f2;
}
.tmh_tj img{
    position: absolute;
    width: 54px;
    right: 0;
    bottom: 0;
}
/*:nth-of-type(n) 选择器匹配属于父元素的特定类型的第 N 个子元素的每个元素.*/
.tmh_tj p:nth-of-type(1){
    font-size: 14px;
    color: #fd3a51;
    font-weight: 700;
}
.tmh_tj p:nth-of-type(2){
    font-size: 11px;
    color: #444444;
    line-height: 1.8;
}
.tmh_b{
    height: 100px;
}
.tmh_b .row{
    width: 50%;
    height: 96px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 4px;
}
.tmh_b .row_in{
    padding-top: 10px;
    background-color: #f2f2f2;
    height: 96px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.tmh_b .row:nth-child(1){
    padding-right: 2px;
}
.tmh_b .row:nth-child(2){
    padding-left: 2px;
}
.tmh_b .row img{
    width: 50px;
    height: 35px;
    position: absolute;
    left:50%;
    bottom: 4px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.tmh_b .row h3{
    font-size: 14px;
    font-weight: 700;
}
.tmh_b .row p{
    font-size: 11px;
    color: #444444;
}
.tmh_b .row i{
    line-height: 1.8;
}
.tmh_b .tmh_bl h3, .tmh_b .tmh_bl i{
    color: #75b1ff;
}
.tmh_b .tmh_br h3, .tmh_b .tmh_br i{
    color: #53ca72;
}
.tmh_b .tmh_bl{
    float: left;
}
.tmh_b .tmh_br{
    float: right;
}
/*特卖汇样式结束*/

/*热门活动样式开始*/
.pro_hot_tit h2{
    width: 73px;
    height: 15px;
    text-indent: -99999px;
    background-position: 0 -19px;
}
.pro_hot_tit .tips{
    background: -webkit-linear-gradient(left,#ffac3c,#ffd25b);
    background: linear-gradient(left,#ffac3c,#ffd25b);
}
.pro_hot_info li{
    float: left;
    width: 50%;
    height: 100%;
}
/*热门活动样式结束*/

/*footer样式开始*/
footer{
    margin-top: 9px;
}
footer .tool_cn{
    height: 50px;
    background-color: #ffffff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.tool_cn a{
    float: left;
    height: 100%;
    width: 33.333333%;
    text-align: center;
    line-height: 75px;
    position: relative;
    color: #333;
}
.tool_cn a:before{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: 8px;
}
.tool_cn a:nth-child(1):before{
    background-position: -60px -154px;
}
.tool_cn a:nth-child(2):before{
    background-position: -60px -174px;
}
.tool_cn a:nth-child(3):before{
    background-position: -60px -310px;
}
.tool_ver{
    text-align: center;
}
.tool_ver a{
    color: #666;
}
footer p{
    text-align: center;
    color: #999;
}
/*footer样式结束*/